.search {
  display: flex;
  align-items: center;
  padding: 4px;
  justify-content: space-between;
  width: 25vw; /* Set a fixed width for the container */
  position: relative;
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: large;
  padding: 8px;
  direction: ltr;
  width: 100%; /* Set the input width to 100% */
}

.options-container {
  white-space: nowrap;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%; /* Set the options container width to 100% */
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 200px;
  overflow-y: auto;
  overflow: hidden;
  max-height: 33vh;
}

.search-icon {
  color: #666;
  margin: 0 8px;
}

.option-item {
  padding: 10px; /* Adjust padding as needed */

  border-bottom: 1px solid #ccc; /* Add a border between items */
  cursor: pointer; /* Show a pointer cursor on hover */
}

.option-item:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.symbol {
  margin-right: 100%;
  color: #000;
  font-size: 120%;
}

.company-name {
  margin-right: 100%;
  color: #666;
  white-space: nowrap; /* Prevent text wrapping */
  font-size: 80%;
}

.option-item .symbol {
  margin-bottom: 5px; /* Adjust the margin as needed */
}
