.range-selection {
  border-radius: 10px;
  background-color: black;
  color: white;
  border: 1px solid #000000;
  padding: 8px 16px;
  flex-grow: 1;
  margin: 9px;
}

.range-selection:hover {
  background-color: #aaaaaa;
}

.range-selection.selected {
  background-color: #dbc8c8;
  color: black;
  font-weight: bold;
}

.range-selection-container {
  display: flex;
}

.stock-graph-title {
  color: white;
}

.stock-graph-container {
  width: 40vw;
  display: flex;
  flex-direction: column;
}

.loading {
  color: white;
}

.temp-column {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.current-price-label {
  color: white;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 24px;
}
